<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkmoon.blog.modules.pojo.dao.PostDAO">
    <resultMap id="IndexResultMap" type="cn.thinkmoon.blog.modules.pojo.po.PostPO">
        <id column="cid" property="cid"/>
        <result column="title" property="title"/>
        <result column="text" property="text"/>
        <result column="category" property="category"/>
        <result column="categoryId" property="categoryId"/>
        <result column="created" property="created"/>
        <result column="modified" property="modified"/>
        <result column="views" property="views"/>
        <result column="likes" property="likes"/>
        <result column="comments" property="comments"/>
        <collection property="tag" ofType="cn.thinkmoon.blog.modules.pojo.po.TagPO" column="cid"
                    select="selectTag">
        </collection>
        <collection property="fields" ofType="cn.thinkmoon.blog.modules.pojo.po.FieldsPO" column="cid"
                    select="selectFields">
        </collection>
    </resultMap>
    <select id="selectTag" resultType="cn.thinkmoon.blog.modules.pojo.po.TagPO">
        SELECT
        cid,
        relationship_tag.tid,
        `name`
        FROM
        `relationship_tag`,
        `tag`
        WHERE
        tag.tid = relationship_tag.tid
        AND cid = #{cid}
    </select>
    <select id="selectFields" resultType="cn.thinkmoon.blog.modules.pojo.po.FieldsPO">
        SELECT
        name,value
        FROM
        article_field
        WHERE
        cid = #{cid}
    </select>
    <select id="selectPage" resultMap="IndexResultMap">
        SELECT
        article.cid,
        title,
        created,
        modified,
        views,
        likes,
        comments,
        category.mid AS categoryId,
        category.`name` AS 'category'
        FROM
        ( article, category )
        WHERE
        article.categoryId = category.mid
        <if test='keyword != ""'>
            AND ( article.title LIKE #{keyword} OR article.text LIKE #{keyword})
        </if>
        <if test='category != ""'>
            AND category.`name` = #{category}
        </if>
        <if test="cidList != null and cidList.size() > 0">
            AND article.cid IN
            <foreach collection="cidList" item="item" index="index" open="(" close=")" separator=",">
                #{item.cid}
            </foreach>
        </if>
        ORDER BY
        created DESC
    </select>
    <select id="findAll" resultType="cn.thinkmoon.blog.modules.pojo.po.PostPO">
        SELECT
        cid
        FROM
        article
        ORDER BY
        cid DESC
    </select>
    <select id="getDetail" resultMap="IndexResultMap">
        SELECT
        article.cid,
        title,
        text,
        created,
        modified,
        views,
        likes,
        comments,
        category.mid AS categoryId,
        category.`name` AS 'category'
        FROM
        ( article, category )
        WHERE
        article.type = "post"
        AND article.categoryId = category.mid
        AND article.cid = #{cid}
    </select>
    <select id="getAboutPost" resultType="cn.thinkmoon.blog.modules.pojo.po.PostPO">
        SELECT
        article.*
        FROM
        weblog_options,article
        WHERE
        weblog_options.`name` = 'aboutCid' and weblog_options.`value` = article.cid
    </select>
    <insert id="insertPost" parameterType="cn.thinkmoon.blog.modules.pojo.po.PostPO" useGeneratedKeys="true"
            keyColumn="cid" keyProperty="cid">
        INSERT INTO article (authorId,title,text,categoryId,created,modified)
        VALUES
        (#{post.authorId},#{post.title},#{post.text},#{post.categoryId},#{post.created},#{post.modified})
    </insert>
    <update id="updatePost" parameterType="cn.thinkmoon.blog.modules.pojo.po.PostPO">
        UPDATE article
        <set>
            title = #{post.title},
            text = #{post.text},
            <if test="post.categoryId != null">
                categoryId = #{post.categoryId},
            </if>
            modified = #{post.modified},
        </set>
        WHERE
        article.cid = #{post.cid}
    </update>
</mapper>
