<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkmoon.blog.modules.post.dao.PostDAO">
    <resultMap id="IndexResultMap" type="cn.thinkmoon.blog.modules.post.pojo.PostPO">
        <id column="cid" property="cid"/>
        <result column="title" property="title"/>
        <result column="text" property="text"/>
        <result column="category" property="category"/>
        <result column="created" property="created"/>
        <result column="views" property="views"/>
        <result column="likes" property="likes"/>
        <result column="comments" property="comments"/>
        <collection property="tag" ofType="cn.thinkmoon.blog.modules.post.pojo.TagPo" column="cid" select="selectTag">
            <result column="tid" property="tid"/>
            <result column="name" property="name"/>
        </collection>
        <collection property="fields" ofType="cn.thinkmoon.blog.modules.post.pojo.FieldsPO" column="cid"
                    select="selectFields">
            <result column="fields_name" property="name"/>
            <result column="fields_value" property="value"/>
        </collection>
    </resultMap>
    <select id="selectTag" resultType="cn.thinkmoon.blog.modules.post.pojo.TagPo">
        SELECT
        cid,
        weblog_relationships.tid,
        `name`
        FROM
        `weblog_relationships`,
        `weblog_tag`
        WHERE
        weblog_tag.tid = weblog_relationships.tid
        AND cid = #{cid}
    </select>
    <select id="selectFields" resultType="cn.thinkmoon.blog.modules.post.pojo.FieldsPO">
        SELECT
        name,value
        FROM
        weblog_fields
        WHERE
        cid = #{cid}
    </select>
    <select id="selectPage" resultMap="IndexResultMap">
        SELECT
        weblog_contents.cid,
        title,
        text,
        created,
        views,
        likes,
        comments,
        weblog_category.mid AS category_id,
        weblog_category.`name` AS 'category'
        FROM
        ( weblog_contents, weblog_category )
        WHERE
        weblog_contents.type = "post"
        AND weblog_contents.category_id = weblog_category.mid
        <if test='keyword != ""'>
            AND ( weblog_contents.title LIKE #{keyword} OR weblog_contents.text LIKE #{keyword})
        </if>
        <if test='mid != 0'>
            AND weblog_contents.category_id = #{mid}
        </if>
        ORDER BY
        created DESC
    </select>
    <select id="getDetail" resultMap="IndexResultMap">
        SELECT
        weblog_contents.cid,
        title,
        text,
        created,
        views,
        likes,
        comments,
        weblog_category.mid AS category_id,
        weblog_category.`name` AS 'category'
        FROM
        ( weblog_contents, weblog_category )
        WHERE
        weblog_contents.type = "post"
        AND weblog_contents.category_id = weblog_category.mid
        AND weblog_contents.cid = #{cid}
    </select>
    <select id="getAboutPost" resultType="cn.thinkmoon.blog.modules.post.pojo.PostPO">
        SELECT
        weblog_contents.*
        FROM
        weblog_options,weblog_contents
        WHERE
        weblog_options.`name` = 'aboutCid' and weblog_options.`value` = weblog_contents.cid
    </select>
    <insert id="insertPost" parameterType="cn.thinkmoon.blog.modules.post.pojo.PostPO">
        INSERT INTO weblog_contents (authorId,title,text,category_id,created,modified)
        VALUES
        (#{authorId},#{title},#{text},#{category_id},#{created},#{modified})
    </insert>
    <update id="updatePost" parameterType="cn.thinkmoon.blog.modules.post.pojo.PostPO">
        UPDATE weblog_contents
        <set>
            title = #{title},
            text = #{text},
            <if test="category_id != null">
                category_id = #{category_id},
            </if>
            modified = #{modified},
        </set>
        WHERE
        weblog_contents.cid = #{cid}
    </update>
</mapper>
