<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkmoon.blog.modules.content.dao.TagDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.thinkmoon.blog.modules.content.pojo.po.TagPO">
        <id column="tid" property="tid"/>
        <result column="name" property="name"/>
        <result column="order" property="order"/>
        <result column="count" property="count"/>
    </resultMap>
    <select id="queryList" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        weblog_tag
        <if test='name != ""'>
            WHERE name = #{name}
        </if>
        ORDER BY
        `order`
    </select>
    <select id="getPostList" resultType="cn.thinkmoon.blog.modules.post.pojo.PostPO">
        SELECT
        cid
        FROM
        `weblog_relationships`,
        `weblog_tag`
        WHERE
        weblog_tag.tid = weblog_relationships.tid
        AND weblog_tag.name = #{tagName}
    </select>
</mapper>
