<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.thinkmoon.blog.modules.pojo.dao.TagDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.thinkmoon.blog.modules.pojo.po.TagPO">
        <id column="tid" property="tid"/>
        <result column="name" property="name"/>
        <result column="order" property="order"/>
        <result column="count" property="count"/>
    </resultMap>
    <insert id="addTagRelation">
        INSERT INTO relationship_tag (cid,tid)
        VALUES
        <foreach collection="tagList" item="tagId" separator=",">
            (#{cid}, #{tagId})
        </foreach>
    </insert>
    <delete id="removeTagRelation">
        DELETE FROM relationship_tag
        WHERE cid=#{cid};
    </delete>
    <select id="queryList" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        tag
        <if test='name != ""'>
            WHERE name = #{name}
        </if>
        ORDER BY
        `order`
    </select>
    <select id="getPostList" resultType="cn.thinkmoon.blog.modules.pojo.po.PostPO">
        SELECT
        cid
        FROM
        `relationship_tag`,
        `tag`
        WHERE
        tag.tid = relationship_tag.tid
        AND tag.name = #{tagName}
    </select>
</mapper>
